<launch>
    <param name="node_name" type="str" value="kinect_sub_py" />
    <param name="cam_name" type="str" value="cam_1" />
    <param name="mode_name" type="str" value="/rgb" />
    <param name="calibrated" type="bool" value="False" />
    <param name="sub_name" type="str" value="/cam_1/rgb/image_raw" />
    <param name="cam_info" type="str" value="/cam_1/rgb/camera_info" />
    <param name="pub_name" type="str" value="/cam_1/rgb/image_raw/charuco" />
    <param name="trans_frame_name" type="str" value="charuco" />
</launch>