<launch>
    <param name="node_name" type="str" value="kinect_sub_py" />
    <param name="cam_name" type="str" value="cam_4" />
    <param name="mode_name" type="str" value="/rgb" />
    <param name="calibrated" type="bool" value="True" />
    <param name="sub_name" type="str" value="/cam_4/rgb/image_rect_color" />
    <param name="cam_info" type="str" value="/cam_4/rgb/camera_info" />
    <param name="pub_name" type="str" value="/cam_4/rgb/image_rect_color/charuco" />
    <param name="trans_frame_name" type="str" value="charuco" />
</launch>